In [1]:
import pandas as pd
import numpy as np
from itertools import chain
df = pd.read_csv('HMAHCC_COMP.csv')

c:\users\chenson\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3044: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
opioid_data = df[df['PAY_DAY_SUPPLY_CNT'].notnull()]
opioid_data_grouped = opioid_data.groupby(by='id')

In [3]:
def get_LTOT_frame(ID):
    try:
        group = opioid_data_grouped.get_group(ID)
        frame = group[['Days', 'PAY_DAY_SUPPLY_CNT']].drop_duplicates()
        frame = frame[frame['Days']>=0]
        frame['drugs until'] = (frame['Days'] + frame['PAY_DAY_SUPPLY_CNT']).astype(int)
        frame['range'] = frame.apply(lambda x : range(x['Days'].astype(int),x['drugs until'].astype(int)),1)

        concat = concatenated = chain(*list(frame['range']))
        concat = set(concat)

        day_frame = pd.DataFrame(columns = ['Days', 'Has Drug?'])
        day_frame['Days'] = range(max(concat)+1)
        day_frame['Has Drug?'] = (day_frame['Days'].isin(concat))
        
        return day_frame
    except:
        return "No data"

In [147]:
def naive(ID):
    try:
        frame = get_LTOT_frame(ID)
        frame['naive'] = frame['Has Drug?'].rolling(90, win_type=None).sum()
        qualify = frame[ (frame['naive'] == 1) & (frame['Has Drug?'] == True)]
        qualify_list = [0] + list(qualify['Days'].values)
        return(qualify_list)
    except:
        return(np.NaN)

In [122]:
id_list = df['id'].drop_duplicates().values
id_list

array(['ID10010854159', 'ID10013863216', 'ID10024447278', ...,
       'ID99985278397', 'ID99987501651', 'ID99994197161'], dtype=object)

In [149]:
%%time
response_variable_v2 = pd.DataFrame(id_list, columns = ['id'])
response_variable_v2['naive'] = response_variable_v2['id'].map(naive)

Wall time: 48min 26s

In [168]:
response_variable_v2

                  id                          naive
0      ID10010854159                       [0, 706]
1      ID10013863216                            [0]
2      ID10024447278                            [0]
3       ID1002482139                            [0]
4       ID1003386406                            [0]
5      ID10036289882                            [0]
6      ID10036954381                            [0]
7      ID10055739763                       [0, 241]
8      ID10074598346                       [0, 598]
9      ID10081072715                            [0]
10      ID1008136105                       [0, 105]
11     ID10085004805                            [0]
12     ID10085392189                       [0, 265]
13     ID10112532931                            [0]
14     ID10119459922                       [0, 409]
15     ID10125698107                       [0, 607]
16     ID10126196784                            [0]
17      ID1013630023                            [0]
18     ID10137326880                            [0]
19     ID10144726843                            [0]
20     ID10155139868                            [0]
21     ID10158166620                       [0, 437]
22     ID10166893764                            [0]
23     ID10167700196                       [0, 304]
24     ID10169051312                 [0, 392, 1013]
25     ID10180352120                            [0]
26     ID10189080475                  [0, 150, 477]
27     ID10194867854                            [0]
28     ID10201747254                       [0, 242]
29     ID10203805803                            [0]
...              ...                            ...
13970  ID99819880491                  [0, 413, 594]
13971   ID9982180832                            [0]
13972  ID99824085831                  [0, 175, 621]
13973  ID99827357428                            [0]
13974  ID99832270387                       [0, 233]
13975  ID99844174319                            [0]
13976  ID99851961387                            [0]
13977  ID99853738490                       [0, 678]
13978  ID99865372013                            [0]
13979  ID99866353021                  [0, 362, 744]
13980  ID99870677385                  [0, 322, 641]
13981  ID99877095827                            [0]
13982  ID99888932285                            [0]
13983  ID99893580330                            [0]
13984  ID99899080861  [0, 132, 342, 678, 911, 1054]
13985  ID99899156391                            [0]
13986  ID99906098656                            [0]
13987  ID99906998779                            [0]
13988  ID99915109341                            [0]
13989  ID99915340915                            [0]
13990  ID99922543950                       [0, 427]
13991  ID99932051589                            [0]
13992   ID9993577054                  [0, 444, 620]
13993  ID99940102826                       [0, 205]
13994  ID99952965555                  [0, 101, 654]
13995  ID99971049558                            [0]
13996  ID99975648894                            [0]
13997  ID99985278397                            [0]
13998  ID99987501651                            [0]
13999  ID99994197161                       [0, 331]

[14000 rows x 2 columns]

In [176]:
rv_copy = response_variable_v2.copy()

In [215]:
def get_naive(ID):
    naive = response_variable_v2.loc[response_variable_v2['id'] == ID, 'naive'].values[0]
    return(naive)

In [216]:
get_naive('ID10010854159')

[0, 706]

In [236]:
def get_LTOT_v2(ID):
    try:
        naive = get_naive(ID)
        frame = get_LTOT_frame(ID)

        for day in naive:
            frame_slice = frame.iloc[day:day+180]
            drug_days = np.sum(frame_slice['Has Drug?'])

            if drug_days >= 162:
                return(True)
        return(False)
    except:
        return(np.NaN)

In [239]:
%%time
rv_copy['LTOT_v2'] = rv_copy['id'].map(get_LTOT_v2)

Wall time: 52min 13s

In [253]:
rv_copy

                  id                          naive LTOT_v2
0      ID10010854159                       [0, 706]   False
1      ID10013863216                            [0]    True
2      ID10024447278                            [0]    True
3       ID1002482139                            [0]    True
4       ID1003386406                            [0]   False
5      ID10036289882                            [0]   False
6      ID10036954381                            [0]   False
7      ID10055739763                       [0, 241]    True
8      ID10074598346                       [0, 598]   False
9      ID10081072715                            [0]   False
10      ID1008136105                       [0, 105]   False
11     ID10085004805                            [0]   False
12     ID10085392189                       [0, 265]    True
13     ID10112532931                            [0]    True
14     ID10119459922                       [0, 409]   False
15     ID10125698107                       [0, 607]    True
16     ID10126196784                            [0]   False
17      ID1013630023                            [0]    True
18     ID10137326880                            [0]    True
19     ID10144726843                            [0]   False
20     ID10155139868                            [0]   False
21     ID10158166620                       [0, 437]   False
22     ID10166893764                            [0]    True
23     ID10167700196                       [0, 304]    True
24     ID10169051312                 [0, 392, 1013]    True
25     ID10180352120                            [0]    True
26     ID10189080475                  [0, 150, 477]   False
27     ID10194867854                            [0]   False
28     ID10201747254                       [0, 242]    True
29     ID10203805803                            [0]    True
...              ...                            ...     ...
13970  ID99819880491                  [0, 413, 594]    True
13971   ID9982180832                            [0]   False
13972  ID99824085831                  [0, 175, 621]   False
13973  ID99827357428                            [0]    True
13974  ID99832270387                       [0, 233]    True
13975  ID99844174319                            [0]   False
13976  ID99851961387                            [0]   False
13977  ID99853738490                       [0, 678]    True
13978  ID99865372013                            [0]   False
13979  ID99866353021                  [0, 362, 744]   False
13980  ID99870677385                  [0, 322, 641]    True
13981  ID99877095827                            [0]   False
13982  ID99888932285                            [0]   False
13983  ID99893580330                            [0]    True
13984  ID99899080861  [0, 132, 342, 678, 911, 1054]    True
13985  ID99899156391                            [0]   False
13986  ID99906098656                            [0]   False
13987  ID99906998779                            [0]    True
13988  ID99915109341                            [0]    True
13989  ID99915340915                            [0]    True
13990  ID99922543950                       [0, 427]   False
13991  ID99932051589                            [0]   False
13992   ID9993577054                  [0, 444, 620]   False
13993  ID99940102826                       [0, 205]   False
13994  ID99952965555                  [0, 101, 654]   False
13995  ID99971049558                            [0]   False
13996  ID99975648894                            [0]    True
13997  ID99985278397                            [0]    True
13998  ID99987501651                            [0]    True
13999  ID99994197161                       [0, 331]    True

[14000 rows x 3 columns]

In [254]:
rv_copy['LTOT_v2'].value_counts()

False    7056
True     6892
Name: LTOT_v2, dtype: int64